.container {
    /* gap: 10px; */
    margin: 0px auto;
    display: grid;
    width: 960px;
    grid-template-areas: 'header header header header header header header header header header header header'
        'section section section section section section section section section section section section'
        'one one one one one one one one one one one one'
        'two two two two two two two two two two two two'
        'three three three three three three three three three three three three '
        'footer footer footer footer footer footer footer footer footer footer footer footer';
}
.btn{
    position: absolute;
    top:50px;
    left: 550px;
}

header {
    grid-area: header;
    height: 100px;
    background-color: rgb(248, 248, 248);
    text-align: center;
    /* position: absolute;
    top: 50px;
 */

}
.b{
    background-color: aliceblue;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
    padding-left: 30px;
    border: 2px solid black;
}


section {
    grid-area: section;
    height: 400px;
    background-color: rgb(0, 0, 0);
}
.fashion{
    width: 80%;
    height: 400px;
    float: left;
    color: azure;
    
}
.p{
    position: absolute;
    top: 220px;
    left: 420px;
}
#f1{
    font-size: 50px;
}
.btnn{
    background-color: rgb(255, 150, 2);
    color: rgb(1, 1, 1);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
    padding-left: 30px;
    border: 2px solid black;

}
.img{
    width: 20%;
    height: 400px;
    float: left;
}




one {
    grid-area: one;
    height: 200px;
    background-color: rgb(248, 248, 248);
    padding: 83px;

}
.img1{
    width: 50%;
    height: 200px;
    float: left;
    

}
.p1{
    width: 50%;
    height: 200px;
    color: black;
    float: left;
    text-align: center;
    background-color: rgb(219, 217, 214);
    
}

/* .pp{
    position: absolute;
    top:100px;
    right: 100px;
} */ 
/* .pp{
    padding: 10px;
} */
    
.btnx{
    background-color: rgb(3, 3, 3);
    color: rgb(255, 255, 255);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
    padding-left: 30px;
    border: 2px solid rgb(254, 249, 249);

}

two {
    grid-area: two;
    height: 200px;
    background-color: 
    /* padding: 80px; */
    
}
.pp1{
    padding-top: 280px;
    background-color: rgb(248, 248, 248);
}

.p11{
    width: 50%;
    height: 200px;
    color: black;
    float: left;
    text-align: center;
    background-color: rgb(219, 217, 214);


}
.btnx{
    background-color: rgb(3, 3, 3);
    color: rgb(255, 255, 255);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
    padding-left: 30px;
    border: 2px solid rgb(254, 249, 249);
}
.img2{
    width: 50%;
    height: 200px;
    float: left;
}


footer {
    grid-area: footer;
    height: 200px;
    background-color: black;
}
